= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, hint: 'your nickname'
    = f.input :email, hint: 'your eMail address. Only used to fetch your avatar from gravatar.com.'
    = f.input :balance, :as => :decimal, hint: 'just in case you need to correct this'
    = f.input :active
    = f.input :redirect, hint: "Redirect after buying a drink?"
  .form-actions
    = f.button :submit, class: 'btn-primary'

%style .user { display: initial!important; }
